@model IEnumerable<Consume.Models.Projects>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { projectid = item.ProjectId, projectname = item.ProjectName, prod = item })
                @Html.ActionLink("Details", "Details", new { projectid = item.ProjectId  }) |
                @Html.ActionLink("Delete", "Delete", new { projectid = item.ProjectId })
            </td>
        </tr>
}
    </tbody>
</table>
