@model Consume.Models.Emp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EMPName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EMPName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamId)
        </dd>
        <dd class="col-sm-10">
            @foreach (var el in Model.TeamList)
            {

                <p>@Html.DisplayFor(m => el)</p>



            }
        <dd class="col-sm-10">
        <dd class="col-sm-10">
            @foreach (var el in Model.ProjectsList)
            {

                <p>@Html.DisplayFor(m => el)</p>
                <br />


            }
        <dd class="col-sm-10">

    </dl>
</div>
<div>
 
    <a asp-action="Index">Back to List</a>
</div>
